*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
#container{
    height: 80px;
    width: 100%;
}
#box1 img{
    height: 40px;
    margin-top: 1.5rem;
}
#nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#box1{
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
}
#box2{
    padding-right: 2rem;
    padding-top: 2rem;
}
#contact-link, 
#about-link{
    padding-top: 2rem;
    text-decoration: none;
    color: black;
    font-size: large;
}
#bookaCall{
    text-decoration: underline;
    color: black;
    font-size: large;
}

#main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}