*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}

/* Sidebar Styling */
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem; 
    z-index: 10;
}

#vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    white-space: nowrap;
}

#vertical-line {
    flex: 1;
    width: 1px;
    background: black;
    margin: 30px 0;
}

#year-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #666;
    font-size: 14px;
    margin: 0;
}

#container{
    height: 80px;
    width: 100%;
}
#box1 img{
    height: 40px;
    margin-top: 1.5rem;
}
#nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

#box1{
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
}
#box2{
    padding-right: 2rem;
    padding-top: 2rem;
}
#contact-link, 
#about-link{
    padding-top: 2rem;
    text-decoration: none;
    color: black;
    font-size: large;
}
#bookaCall{
    text-decoration: underline;
    color: black;
    font-size: large;
}

#main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    padding-left: 60px;
}

#rightbox{
    height: 100%;
    overflow: hidden;
}
#leftbox{
    height: 100%;
    width: auto;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
#headingone{
  font-size: 2rem;
}
#helloheading{
    font-size: 10rem;
}

#mainbox{
    display: flex;
    gap: 10rem;
}